.cemex-chart-donut-legends{
    width: 12px;
    height: 12px;
    border-radius: 3px;
}
.cemex-chart-donut-legend-margin{
    margin-left: -20px;
    margin-top: 50px;
}
.move-bitch{
    margin-left: 20px;
}
.center-label{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #1F2D4A;
    margin-left: 27%;
}
.left-label{
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
    color: #2D2D2D;
    margin-left:10px;
}
.right-label{
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
    color: #2D2D2D;
    margin-right: 27px;
}