<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - CemexUIComponents</title>
        <base href="/" />
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
        <script src="~/vendor/chart.js"></script>
        <script src="~/vendor/d3.js"></script>
        <script src="~/vendor/nv.d3.min.js"></script>
        <link rel="stylesheet" href="~/vendor/nv.d3.min.css" asp-append-version="true" />        
        <script src="~/vendor/pace.js"></script>
        <link href="~/vendor/cemex-loader.css" rel="stylesheet" />
    </head>
    <body>
        @RenderBody()
        @RenderSection("scripts", required: false)
    </body>
</html>
