<nav class="navbar sidebar" role="navigation">
    <div class="collapse navbar-collapse container-fluid" id="bs-sidebar-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li [class]="mainDropdownStyle()">
                <a (click)="toogleMainDropdown()" class="dropdown-toggle clickable">
                    <div class="client">Client 50008885</div>Gun Kel Mexicana<span style="font-size:16px; line-height: 1.6em;" class="pull-right showopacity glyphicon glyphicon-menu-down"></span>
                </a>
                <ul class="dropdown-menu forAnimate selector" *ngFor="let customer of customers; let i = index; let last = last;" role="menu">
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" checked />
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok blue"></i></span>
                                <div class="one-liner">{{customer.customerName}}</div>
                            </label>
                        </div>
                    </li>
                    <li *ngIf="last" class="divider"></li>
                    <div *ngIf="last" class="centered-content padded">
                        <button (click)="confirmMainDropdown()" class="btn confirm-button">Confirm</button>
                    </div>
                </ul>
            </li>
            <li class="dropdown open jobsites">
                <a (click)="reset()" class="parent">Jobsites</a>
                <ul *ngFor="let jobsite of jobsites; let first = first;" class="dropdown-menu forAnimate no-padding-vertical" role="menu">
                    <li [ngClass]="{'open': first }" class="dropdown jobsite">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="desc">{{jobsite.jobsiteDesc}}</span><span class="pull-right number">{{jobsite.orders.length}}</span></a>
                        <!--<ul class="dropdown-menu forAnimate" role="menu">
                            <li class="order open">
                                <a href="#"><span class="pod">POD</span><span class="id one-liner-id">66349957 Toluca-Jose Pagesalgomas</span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li class="order"><a href="#"><span class="pod invisible">POD</span><span class="load one-liner-id">65119415</span></a></li>
                                    <li class="order"><a href="#"><span class="pod invisible">POD</span><span class="load one-liner-id">65119415</span></a></li>
                                </ul>
                            </li>
                            <li class="order open">
                                <a href="#"><span class="pod">POD</span><span class="id one-liner-id">65119415 PROMEXMA Merida</span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li class="order"><a href="#"><span class="pod invisible">POD</span><span class="load one-liner-id">65119415</span></a></li>
                                    <li class="order"><a href="#"><span class="pod invisible">POD</span><span class="load one-liner-id">65119415</span></a></li>
                                    <li class="order"><a href="#"><span class="pod invisible">POD</span><span class="load one-liner-id">65119415</span></a></li>
                                    <li class="order"><a href="#"><span class="pod invisible">POD</span><span class="load one-liner-id">65119415</span></a></li>
                                    <li class="order"><a href="#"><span class="pod invisible">POD</span><span class="load one-liner-id">65119415</span></a></li>
                                </ul>
                            </li>
                            <li class="order open">
                                <a href="#"><span class="pod">POD</span><span class="id one-liner-id">66349957 Toluca-Jose Pagesalgomas</span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li class="order"><a href="#"><span class="pod invisible">POD</span><span class="load one-liner-id">65119415</span></a></li>
                                </ul>
                            </li>
                        </ul>-->
                    </li>
                    <!--<li class="divider"></li>
                        <li><a href="#">Informes</a></li>-->
                </ul>
            </li>
            <!--<li><a href="#">Libros<span style="font-size:16px;" class="pull-right showopacity glyphicon glyphicon-th-list"></span></a></li>
                <li><a href="#">Tags<span style="font-size:16px;" class="pull-right showopacity glyphicon glyphicon-tags"></span></a></li>-->
        </ul>
    </div>
</nav>