<h2>Translation Tester</h2>

<p>There are two ways for accessing translations</p>
<p>{{ translations.get("views.signin.username") }}</p>
<p>{{ t.pt("views.signin.username") }}</p>
<p>{{ translate("views.signin.username") }}</p>

<p>{{ texto }}</p>


<button (click)="changeToSpanish()">Spanish</button>
<button (click)="changeToEnglish()">English</button>