// ================================
// App colors
// ================================
$color-brand: #355FA1;
$color-brand-dark: #1F2D4A;
$color-highlight: #2E8AF5;
// Status colors
$color-negative: #F05656;
$color-positive: #3ADD76;
$color-warning: #FFC82C;
$color-blue: #2E8AF5;
$color-blocked: #C5C5C5;
// Gray colors
$color-mine-shaft: #2D2D2D;
$color-gray: #8C8C8C;
$color-seashell: #F1F1F1;
$color-alabaster: #F9F9F9;
$color-periwinkle-gray: #EDEFF6;