@import url('https://fonts.googleapis.com/css?family=Roboto');
.simple-card-border{
    border:1px solid #E1E1E1;
    width: 100%;
    height: 220px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 6px 3px rgba(0,0,0,0.03);
    border-radius: 4px;
}
.simple-card-title{
    border-bottom: 1px solid #EEEEEE;
    height: 35.5px;
    width: 100%;
}
.simple-card-span{
    margin-left: 16px;
    margin-top: 17px;
    color: #1F2D4A;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}