<div style="display: block" class="cemex-progress-chart-pull-right">
    <div class="row">
        <div class="col-md-3 ">
            <span class="chart-left-titles">8 orders</span>
        </div>
        <div class="col-md-3">
            <span class="chart-right-titles">orders/volume</span>
        </div>
    </div>
    <div class="row cemex-progress-chart-top-margin" *ngFor="let progression of chartData;let indi=index">
        <div class="col-md-3">
            <div class="progress" style="height:8px">
                <div class="progress-bar" [ngClass]="getClass(indi)" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]="progression.progress + '%'"></div>
            </div>
        </div>
        <div class="col-md-3 cemex-progress-align-text">
            {{progression.title}}
        </div>
    </div>
</div>