@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
@import './../../assets/sass/layout';
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-default {
    background-color: white;
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav #user-profile {
    height: $header-height;
    padding-top: 15px;
    padding-left: 58px;
}

.navbar-default .navbar-nav #user-profile img {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 2px;
    left: 8px;
    padding: 1px;
}

.cemex-logo {
    content: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Cemex_logo.svg/1280px-Cemex_logo.svg.png');
}