<div class="col-md-12" class="ordercard-content">

<div class="col-md-4 order-card " [ngClass]="card.statusTag" color="primary" *ngFor="let card of cards">
        <br>
        <div class="left order-font">{{card.orderNum}}</div>
        <div class="right">0/{{card.deliveries}} Deliveries</div>
        <hr>

        <div class="left sub-order-font">{{card.orderDesc}}</div>
        <div class="right">{{card.quantity}}tn </div>
        <br>
        <hr>

<div class="center">
    <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="card.notTicketed" aria-valuemin="0" aria-valuemax="100" [style.width]= "card.notTicketed + '%'">
    </div>
    </div>

    <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]= "card.batching + '%'">
    </div>
    </div>

    <div class="progress">
     <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]= "card.onSite + '%'">
    </div>
    </div>

    <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]= "card.pouring + '%'">
    </div>
    </div>

     <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]= "card.finished + '%'">
    </div>
    </div>

</div>
<hr>
<i class="fa fa-circle left status mini" [ngClass]="card.statusTag" aria-hidden="true"></i>
<div class="left">{{'In Progress ' }} </div>
<div class="sub-font-status">{{ ' Delivery'}} </div>

<!--<bar-chart></bar-chart>-->
<!--<ngb-progressbar></ngb-progressbar>-->

</div>

</div>