@import url(http://fonts.googleapis.com/css?family=Roboto|Open+Sans:400italic,700italic,400,700);

$font-stack:    Roboto,Helvetica, sans-serif;
$roboto-slab: Roboto, serif;

body {
    font-family: Roboto !important;
    font-size: 14px;
    line-height: 12px;
    color: #2D2D2D;
}


    .order-font{
        width: 114.11px;
        height: 19px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: bold;
        line-height: 19px;
        color: #0B162E;
    }
    .sub-order-font{
        width: 233px;
        height: 19px;
        font-family: Roboto;
        font-size: 14px;
        line-height: 19px;
        color: #0B162E;
    }
    .sub-font-status{
    font-family: Roboto;
    font-size: 12px;
    color: #8C8C8C;
    display: inline-block;
    background-color: transparent !important;
    margin-left: 7px;
    }
    .progress {
       height: 16px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(-90deg);
    margin-top: 20px;
    width: 47px;
    float: left;
    margin-left: 7px;
    
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #2F569B;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
    
}
.order-card{
    width: 313px;
    height: 253px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 6px 3px rgba(0,0,0,0.03);
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    border-bottom: solid #03A9F4;
    margin: 5px;
}
.right{
float: right;
text-align: right;
}
.left{
float: left;
text-align: left;
}
.mini{
    font-size: 10px;
    line-height: 2;
    padding-right: 7px;
}
   
hr {
    width: 100%;
}

 .status {
    &.A {
      color: #03A9F4;
    }
    &.B {
      color: #F05656;
    }
    &.C {
      color: #3ADD76;
    }
    &.D {
      color: #FFC82C;
    }
  }


.order-card{
     &.A {
    border-bottom: solid #03A9F4;
    }
    &.B {
     border-bottom: solid #F05656;
    }
    &.C {
     border-bottom: solid #3ADD76;
    }
    &.D {
     border-bottom: solid #FFC82C;
    }
}