.modal-header {
    border: none;
}

.modal-content {
    border: 1px solid #EEEEEE;
    border-radius: 0;
    box-shadow: 0 14px 28px 0 rgba(0,0,0,0.1);
    width: 365px;
}

.modal-body {
    width: 96%;
}