<!--Cemex Modal Button-->
<div [innerHtml]="buttontag" data-toggle="modal" data-target="#myModal"></div>

<!--JavaScript for Modal with Bootstrap-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div>
            <button type="button" class="close" style="padding: 15px;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="container" style="width:100%">
            <div [innerHtml]="body" class="modal-body">
        </div>
      </div>
    </div>
  </div>
</div>