<h2>Modal Demo</h2>
<hr>

<h3>Button with modal</h3>

<div style="margin-top: 36px;"></div>

<div style="padding:5px">
    <cemex-modal 
        buttontag="Click me!"
        title="Daww you clicked"
        body="This is the body in the modal thingy..."
        footer="Down Undeeeeeer">
    </cemex-modal>
</div>
<!-- Modal -->
