<div class="btn-group">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    All POD
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li>
      <label class="md-check">
          <input type="checkbox">
          <i></i>
          <span class="options">All POD</span>
      </label>
    </li>
    <li role="separator" class="divider"></li>
    <li>
      <label class="md-check">
          <input type="checkbox">
          <i></i>
          <span class="options">66349957 Toluca-Jose...</span>
      </label>
    </li>
    <li>
      <label class="md-check">
          <input type="checkbox">
          <i></i>
          <span class="options">65119415 PROMEXM…</span>
      </label>
    </li>
    <li>
      <label class="md-check">
          <input type="checkbox">
          <i></i>
          <span class="options">66349957 Toluca-Jose…</span>
      </label>
    </li>
  </ul>
</div>

<div class="btn-group">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    All status
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="min-width:225px;">
    <li>
      <label class="md-check">
          <input type="checkbox">
          <i></i>
          <span class="options">All status</span>
      </label>
    </li>
    <li role="separator" class="divider"></li>
    <li>
      <label class="md-check">
          <input type="checkbox">
          <i></i>
          <span class="status-circle green"></span>
          <span class="status-options">Active</span>
      </label>
    </li>
    <li>
      <label class="md-check">
          <input type="checkbox">
          <i></i>
          <span class="status-circle blue"></span>
          <span class="status-options">In Progress</span>
      </label>
    </li>
    <li>
      <label class="md-check">
          <input type="checkbox">
          <i></i>
          <span class="status-circle pink"></span>
          <span class="status-options">To be confirmed</span>
      </label>
    </li>
    <li>
      <label class="md-check">
          <input type="checkbox">
          <i></i>
          <span class="status-circle yellow"></span>
          <span class="status-options">On Hold</span>
      </label>
    </li>
    <li>
      <label class="md-check">
          <input type="checkbox">
          <i></i>
          <span class="status-circle gray"></span>
          <span class="status-options">Blocked</span>
      </label>
    </li>
    <li>
      <label class="md-check">
          <input type="checkbox">
          <i></i>
          <span class="status-circle purple"></span>
          <span class="status-options">Completed</span>
      </label>
    </li>
    <li>
      <label class="md-check">
          <input type="checkbox">
          <i></i>
          <span class="status-circle red"></span>
          <span class="status-options">Canceled</span>
      </label>
    </li>
  </ul>
</div>

<div class="btn-group">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Types of delivery
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li>
      <label class="md-check">
          <input type="checkbox">
          <i></i>
          <span class="options">All Types</span>
      </label>
    </li>
    <li role="separator" class="divider"></li>
    <li>
      <label class="md-check">
          <input type="checkbox">
          <i></i>
          <span class="options">Delivery</span>
      </label>
    </li>
    <li>
      <label class="md-check">
          <input type="checkbox">
          <i></i>
          <span class="options">Pick up</span>
      </label>
    </li>
  </ul>
</div>
