.md-check {
  cursor: pointer;
  /*padding-left: 1.25rem;*/
  /*margin: 0;*/
  display: inline-block;
  position: relative;
}
.md-check input {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  margin-left: -1.25rem;
}
.md-check input:checked + i:before {
  border-width: 0;
  background-color: inherit;
  border: 1px solid #C5C5C5;
}
.md-check input:checked + span .active {
  display: inherit;
}
.md-check input[type="radio"] + i,
.md-check input[type="radio"] + i:before {
  border-radius: 50%;
}
.md-check input[type="checkbox"]:checked + i:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 5px;
  top: 2px;
  display: table;
  width: 6px;
  height: 10px;
  border: 2px solid #06ABF5;
  border-top: 0;
  border-left: 0;
  content: ' ';
}
.md-check input[type="radio"]:checked + i:after {
  position: absolute;
  left: 6px;
  top: 6px;
  display: table;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  content: ' ';
}
.md-check input[disabled] + i:before,
fieldset[disabled] .md-check input + i:before {
  opacity: 0.5;
}
.md-check input[disabled]:checked + i:before {
  opacity: 0.5;
}
.md-check > i {
  width: 0;
  height: 16px;
  line-height: 1;
  margin-left: 10px;
  margin-top: 1px;
  float: left;
  display: inline-block;
  vertical-align: middle;
  margin-right: 28px;
  position: relative;
}
.md-check > i:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #C5C5C5;
  border-radius: 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.md-check > i.no-icon:after {
  display: none !important;
}

.options {
  font-weight: normal;
}

.status-options {
  font-weight: normal;
  margin-left: 5px;
}

.status-circle {
  display: inline-block;
  border-radius: 100%;
  width: 6px;
  height: 6px;
  margin-bottom: 2px;
  background-color: pink;
}
.status-circle.green {
  background-color: #A5D756;
}
.status-circle.blue {
  background-color: #2BB8F9;
}
.status-circle.pink {
  background-color: #EA5090;
}
.status-circle.yellow {
  background-color: #FFCE33;
}
.status-circle.gray {
  background-color: #5A5A5A;
}
.status-circle.purple {
  background-color: #9215FF;
}
.status-circle.red {
  background-color: #EF5757;
}

.dropdown-menu {
  min-width: 226px;
}
