<cemex-simple-card title="Today's volume">  <cemex-chart-donut></cemex-chart-donut> </cemex-simple-card>
<cemex-simple-card title="Today's volume">  <cemex-half-donut></cemex-half-donut> </cemex-simple-card>
<cemex-simple-card title="titulo"> <cemex-progress-chart></cemex-progress-chart> </cemex-simple-card>