<div class="delivery-container container-fluid">
    <div class="row">
        <div class="col-md-7 section">
            <div class="content">
                <div class="info-row">
                    <span class="info">Purchase Order:</span>
                    <span class="description autow uppercase">
                        {{ order?.purchaseOrder }}
                    </span>
                    <span class="info autow">Start date:</span>
                    <span class="description autow pl6">
                        12/22/2016
                    </span>
                    <span class="info autow">End date:</span>
                    <span class="description autow pl6">
                        12/24/2016
                    </span>
                </div>
                <div class="info-row">
                    <span class="info">Adress:</span>
                    <span class="description">
                        65005356 - material santa barbara, s.a. de / vasconcelos 911 / 66200 san pedro garza garcia
                    </span>
                </div>
                <div class="info-row">
                    <span class="info">Point of Delivery:</span>
                    <span class="description">
                        65005356 - material santa barbara, s.a. de / vasconcelos 911 / 66200 san pedro garza garcia
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-5 section">
            <div class="content">
                <div class="info-row">
                    <span class="info comments">Comments</span>
                    <div class="comments-desc">{{ order?.instructionsDesc }}</div>
                </div>
                <div class="info-row">
                    <span class="info">Product Detail</span>
                    <div class="product-detail-desc clickable">3 products</div>
                </div>
            </div>
        </div>
    </div>
</div>