@import './../../assets/sass/delivery';
@import './../../assets/sass/variables';
@import './../../assets/sass/tricks';
.delivery-container {
    min-height: $delivery-info-height;
    background-color: white;
}

.padded-vertical {}

.section {
    min-height: $delivery-info-height - ($delivery-info-spacing * 2);
    padding: $delivery-info-spacing 0px;
    height: $delivery-info-height;
    height: auto;
}

.section .content {
    min-height: $delivery-info-height - ($delivery-info-spacing * 2);
    border-right: 2px solid $color-seashell;
    padding: 0px 36px;
    height: auto;
}

.section:last-child .content {
    border-right: none;
}

.info {
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
    color: #2D2D2D;
    display: inline-block;
    width: 135px;
    vertical-align: top;
}

.info.autow {
    width: auto;
}

.description {
    display: inline-block;
    width: 468px;
    font-family: Roboto;
    font-size: 13px;
    color: #2D2D2D;
}

.description.autow {
    width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pl10 {
    padding-left: 10px;
}

.info-row:not(:last-child) {
    padding-bottom: 12px;
}

.info.comments {
    padding-bottom: 12px;
}

.comments-desc {
    font-family: Roboto;
    font-size: 13px;
    line-height: 14px;
    color: #2D2D2D;
    padding-bottom: 12px;
}

.product-detail-desc {
    font-family: Roboto;
    font-size: 13px;
    line-height: 14px;
    color: #2E8AF5;
}

@media (max-width: 680px) {
    .description {
        width: 400px;
    }
}

@media (max-width: 440px) {
    .description {
        width: 230px;
    }
}