table {
    font-weight: 500;
}

thead {
    border-top: 2px groove #F7F7F7;
    border-bottom: 2px groove #F7F7F7;
}

tbody tr {
    border-bottom: 6px solid white;
}

tr th {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 34px;
    padding-right: 8px;
    cursor: pointer;
}

tr th:first-child {
    cursor: default;
    width: 100px;
}

tr td {
    background-color: #F8F8F8;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 34px;
    padding-right: 8px;
}

tr td:first-child {
    text-align: center;
    background-color: #EDEEF0;
    width: 100px;
    padding-left: 8px;
    padding-right: 8px;
    color: #9FA0A2;
    font-weight: 400;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #828282;
    margin-left: 8px;
    margin-bottom: 2px;
    display: inline-block;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #828282;
    margin-left: 8px;
    margin-bottom: 2px;
    display: inline-block;
}