<p *ngIf="!forecasts"><em>Loading...</em></p>


<div class="table-responsive">
    <table class='table table-hover' *ngIf="forecasts">
        <thead>
            <tr>
                <th></th>
                <th>Driver<i class="arrow-down"></i></th>
                <th>Time<i class="arrow-down"></i></th>
                <th>Truck<i class="arrow-down"></i></th>
                <th>Jobsite<i class="arrow-down"></i></th>
                <th>Plant<i class="arrow-down"></i></th>
                <th>Status<i class="arrow-down"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let forecast of forecasts">
                <td>12:58 pm</td>
                <td>Increase 20</td>
                <td>8 min</td>
                <td>11253748</td>
                <td>Crystal river / Harold Gordon</td>
                <td>4439 Oakland RM</td>
                <td>Rejected</td>
            </tr>
        </tbody>
    </table>
</div>