.cemex-chart-donut-legends{
    width: 12px;
    height: 12px;
    border-radius: 3px;
}
.cemex-chart-donut-legend-margin{
    margin-left: -80px;
    margin-top: 50px;
}
.move-left{
    margin-left: -70px;
}