<h2>Playground</h2>
<hr>

<h3>Button component</h3>
<pre>
    {{cemexButtonHelper}}
</pre>

<div style="margin-top: 36px;"></div>

<div style="padding:5px">
    <cemex-button title="Change plants"></cemex-button>
</div>
<div style="padding:5px">
    <cemex-button title="Change plants" [type]="buttonSecondary" [size]="buttonMedium"></cemex-button>
</div>
<div style="padding:5px">
    <cemex-button title="Small" [type]="buttonDisabled" [size]="buttonSmall"></cemex-button>
</div>

<div style="margin-top: 36px;"></div>

<h3>Table component</h3>
<pre>
    {{cemexTableHelper}}
</pre>

<div style="margin-top: 36px;"></div>
<cemex-table></cemex-table>

<div style="margin-top: 36px;"></div>


<h3>Modal component</h3>

<div style="padding:5px">
  <cemex-modal
  buttontag="<a>Click me</a>"
  body="
  <div class='table-responsive'>
    <table class='table table-hover' *ngIf='forecasts'>
      <thead>
        <tr>
          <th>Driver<i class='arrow-down'></i></th>
          <th>Time<i class='arrow-down'></i></th>
          <th>Truck<i class='arrow-down'></i></th>
          <th>Jobsite<i class='arrow-down'></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let forecast of forecasts'>
          <td>Increase 20</td>
          <td>8 min</td>
          <td>11253748</td>
          <td>4439 Oakland RM</td>
        </tr>
        <tr *ngFor='let forecast of forecasts'>
          <td>Increase 20</td>
          <td>8 min</td>
          <td>11253748</td>
          <td>4439 Oakland RM</td>
        </tr>
        <tr *ngFor='let forecast of forecasts'>
          <td>Increase 20</td>
          <td>8 min</td>
          <td>11253748</td>
          <td>4439 Oakland RM</td>
        </tr>
      </tbody>
    </table>
  </div>"
  top="50px"
  left="400px"
  >
</cemex-modal>
</div>

<div style="margin-top: 36px;"></div>

<h3>Loader component</h3>

<div style="padding:5px">
  <cemex-loader></cemex-loader>
</div>

<div style="margin-top: 36px;"></div>

<h3>Filter component</h3>

<div style="padding:5px">
  <filter></filter>
</div>

<h3>Sidebar component</h3>
<pre>
    {{sideBarSelector}}
</pre>
<sidebar></sidebar>
<div style="margin-top: 36px;"></div>

<!--<h3>Bar-chart component</h3>
<pre>
{{barChartSelector}}
</pre>
<div style="margin-top: 36px;"></div>
<bar-chart></bar-chart>
<div style="margin-top: 36px;"></div>-->
