<main class="control-panel">
    <div class="info">
        <div>
            <img src="/vendor/images/logo-cemex-white.png" />
        </div>
        <div class="login-panel">
            <h3>Track and Trace</h3>
            <h4>Welcome! Please sign in</h4>
            <hr>
            <div id="loginError" class="alert alert-danger" *ngIf="loginError">
                Credenciales incorrectas.
                <br> Por favor intente de nuevo.
            </div>
            <div class="custom-input minimal">
                <input [(ngModel)]="username" class="transition-all" type="text" placeholder="User" />
            </div>
            <hr>
            <div class="custom-input minimal">
                <input [(ngModel)]="password" class="transition-all" type="password" placeholder="Password" />
            </div>
            <div>
                <cemex-button (click)="login()">
                    Log in
                </cemex-button>
            </div>
        </div>
    </div>
</main>..