﻿.control-panel {
    background-image: url("/vendor/images/background-login.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align:center;
    padding-top: 20%;
}

.login-panel {
    padding: 1px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFFFFF;
    width: 320px;
    height: 316px;
    margin: 25px auto;
    color: #19233A;
    text-align: center;
    font-family: 'Ek Mukta', sans-serif;
}

.custom-input.minimal {
    position: relative;
    font-size: 12px;
}

.custom-input.minimal input {
    height: 40px;
    width: 80%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent !important;
    outline: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #FFFFFF;
    -ms-opacity: 0.5;
    opacity: 0.5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Ek Mukta', sans-serif;
}

.custom-input.minimal input:hover,
.custom-input.minimal input:focus,
.custom-input.minimal input:hover ~ .fa,
.custom-input.minimal input:focus ~ .fa {
    opacity: 1;
}

.custom-input.minimal + .custom-input.minimal {
    margin-top: 30px;
}

.custom-input.minimal.has-icon input {
    padding-right: 20px;
}

.custom-input.minimal.has-icon .fa {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0.5;
}

.transition-all {
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
